@charset "windows-1251";

table
{
    width: 600px;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px; 
    overflow: hidden; 
}

td
{
    
    border-spacing: 0;
}

div
{
    background-color: rgb(211, 210, 210);
    padding-top: 5px;
    text-align: center;
    height: 18px;
    width: 70px;
    margin-left: 15px;
    font-size: 11px;
    border: 1px solid gray;
    color: rgb(97, 95, 95);
}

#c1
{
    height: 80px;
    color: white;
}

#c2
{
    height: 40px;
}

#c3
{
    height: 60px;
}

tr
{
    text-align: center;
}

#color1
{
    background-color: rgb(94, 94, 216);
}

#color2
{
    background-color: rgb(42, 42, 161);
}

#color3
{
    background-color: rgb(17, 17, 141);
}

#color4
{
    background-color: rgb(1, 1, 102);
}

#color5
{
    background-color: rgb(0, 0, 54);
}

#color6
{
    background-color: rgb(206, 206, 206);
    font-size: 13px;
}

#color7
{
    background-color: rgb(228, 228, 228);
    font-size: 13px;
}

#color8
{
    background-color: rgb(243, 243, 243);
    font-size: 13px;
}

#big
{
    font-size: 24px;
}

.to_left
{
    text-align: left;
    font-size: 13px;
}